
<% form_tag({}) do
  #columns = %w(description).map {|n| Issue.columns_hash[n]}
  columns = %w(journal_subject assigned_to spent_hours estimated_hours user created_on status priority done_ratio tracker).map {|n| QueryColumn.new(n.to_sym)}
  columns[3] = QueryColumn.new(:estimated_hours, :caption => :vod_field_estimated_hours)
  columns[4] = QueryColumn.new(:user, :caption => :vod_field_user)
  journal_columns = %w(journal_subject created_on user)
  -%>
<div class="autoscroll">
<table class="list issues vods">
    <thead><tr>
        <!--<th class="checkbox hide-when-print"><%= link_to image_tag('toggle_check.png'), {}, :onclick => 'toggleIssuesSelection(Element.up(this, "form")); return false;',
                                                           :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
        </th>
        -->
        <%= content_tag('th', "#") %>
        <% if current_user_notes? %>
        <%= content_tag('th', "&nbsp") %>
        <% end %>
        <%= content_tag('th', "&nbsp") %>
        <% columns.each do |column| %>
          <%= column_header(column) %>
        <% end %>
	</tr></thead>
	<tbody>
  <% journals.each do |journal|
       issue = journal.journalized
  %>
    <tr id="<%= dom_id journal %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %> <%= journal.safe_user_journal_note(@request_user).css_classes %>">
      <!--<td class="checkbox hide-when-print"><%= check_box_tag("ids[]", issue.id, false, :id => nil) %></td>-->
      <td class="id"><%= link_to issue.id, :controller => 'issues', :action => 'show', :id => issue %></td>
      <% if current_user_notes? %>
      <td><%= link_to_remote "All set", :url => {:action => 'destroy', :id => journal}, :method => :delete,
          :loading => "$('#{dom_id journal}').hide()"%></td>
      <td class="important"><%= link_to_remote(image_tag(journal.safe_user_journal_note(@request_user).important ? 'flag.png' : 'bullet.png', :plugin => 'redmine_journal_center'), :url => {:action => 'toggle_important', :id => journal}, :method => :put,
          :loading => "toggleImportant('#{dom_id journal}')")%></td>
      <% else %>
      <td class="important"><%= image_tag(journal.safe_user_journal_note(@request_user).important ? 'flag.png' : 'bullet.png', :plugin => 'redmine_journal_center')%></td>
      <% end %>
      <% columns.each do |column|
           object = journal_columns.include?(column.name.to_s) ? journal : issue
      %><%= content_tag 'td', jcolumn_content(column, object), :class => column.name %><% end %>
    </tr>
	<% end -%>
	</tbody>
</table>
</div>
<% end -%>
